@import "normalize.css";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap");

:root {
  --primary: #fe2c55;
  --black: #000;
  --white: #fff;
  --text-color: #333;

  //defaulLayout
  --default-layout-width: 1150px;
  --default-layout-header-height: 60px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeSpeed; //tối ưu tốc độ hiển thị font
  color: var(--text-color);
}

button,
input,
[tabindex] {
  //thẻ có viền mặc định hoặc focus vào sẽ hiện ra viền thì bỏ các viền đấy đi
  outline: none;
  border: none;
}

a[href] {
  color: var(--text-color);
  text-decoration: none;
}
