.search {
  position: relative;
  width: 361px;
  height: var(--search-height);
  padding-left: 16px;
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-boder-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: transparent;

    //khi nhập vào input thì button sẽ chuyển màu
    &:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35, 0.75);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(var(--search-height) / 4);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) / 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-result {
  width: 361px;
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%); //50% cua thang top
  color: rgba(22, 24, 35, 0.34);
}

.loading {
  animation: spinner 1s linear infinite; //quay vĩnh viễn
}

@keyframes spinner {
  from {
    transform: translateY(-50%) rotate(0);
  }
  to {
    transform: translateY(-50%) rotate(360deg);
  }
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-boder-radius);
  border-bottom-right-radius: var(--search-boder-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}
