.wrapper {
  --search-boder-radius: 92px;
  --search-height: 46px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  padding: 0 var(--default-layout-horizontal-spacer);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  position: relative;
  width: 361px;
  height: var(--search-height);
  padding-left: 16px;
  display: flex;
  background-color: rgba(22, 24, 35, 0.06);
  border-radius: var(--search-boder-radius);
  border: 1.5px solid transparent;

  input {
    flex: 1;
    height: 100%;
    color: var(--black);
    font-size: 1.6rem;
    caret-color: var(--primary);
    background-color: transparent;

    //khi nhập vào input thì button sẽ chuyển màu
    &:not(:placeholder-shown) ~ .search-btn {
      color: rgba(22, 24, 35, 0.75);
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: calc(var(--search-height) / 4);
    right: var(--search-button-width);
    width: 1px;
    height: calc(var(--search-height) / 2);
    background-color: rgba(22, 24, 35, 0.12);
  }

  &:focus-within {
    border-color: rgba(22, 24, 35, 0.2);
  }
}

.search-result {
  width: 361px;
}

.search-title {
  padding: 5px 12px;
  font-size: 1.4rem;
  font-weight: 600;
  color: rgba(22, 24, 35, 0.5);
}

.clear,
.loading {
  position: absolute;
  right: calc(var(--search-button-width) + 16px);
  top: 50%;
  transform: translateY(-50%); //50% cua thang top
  color: rgba(22, 24, 35, 0.34);
}

.search-btn {
  width: var(--search-button-width);
  height: 100%;
  border-top-right-radius: var(--search-boder-radius);
  border-bottom-right-radius: var(--search-boder-radius);
  font-size: 1.8rem;
  color: rgba(22, 24, 35, 0.34);

  &:hover {
    cursor: pointer;
    background-color: rgba(22, 24, 35, 0.03);
  }

  &:active {
    background-color: rgba(22, 24, 35, 0.06);
  }
}

//Actions
.acctions {
  display: flex;
  align-items: center;
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  padding: 4px 8px;
  background-color: transparent;
  cursor: pointer;
}

.action-btn {
  background-color: transparent;
  font-size: 2.2rem;
  color: #161823;
  cursor: pointer;
}

.message-btn {
  padding: 4px 0 0;
  margin: 4px 0 2px 20px;
}

.inbox-btn {
  margin: 6px 12px 0 24px;
}

.user-avatar {
  width: 32px;
  height: 32px;
  object-fit: cover;
  border-radius: 50%;
  margin-left: 12px;
  cursor: pointer;
}
